.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 350px;
  height: calc(100vh - 60px); // trừ đi chiều của header
  max-height: 600px;
}

.video-content {
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transform: translateY(-20px);
}

.action-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 70px;
}

.action-bar .wrapper-btn {
  margin-left: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(22, 24, 35, 0.06);
  transition: all 0.2s ease;

  &:hover {
    background-color: rgba(22, 24, 35, 0.1);
    transform: scale(1.05);
  }

  &.active {
    background-color: rgba(22, 24, 35, 0.15);
    transform: scale(0.95);
    transition: all 0.2s ease;
  }
}

.avatar-container {
  position: relative;
}

.avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.plus {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: #fe2c55;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.count {
  font-family: TikTokFont;
  font-weight: 500;
  font-size: 12px;
}

.heart-icon.liked {
  transition: color 0.2s ease;
  color: #fe2c55;
}
